<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRHJBMHhsr88C6mJpk9U8-nOvXOEjiitI</string>
	<key>GCM_SENDER_ID</key>
	<string>223193165796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hiromureve1522.AnzenNavi</string>
	<key>PROJECT_ID</key>
	<string>anzennavi-40e22</string>
	<key>STORAGE_BUCKET</key>
	<string>anzennavi-40e22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223193165796:ios:59036012d24d7f98ffe1f1</string>
</dict>
</plist>